

#main{
    display: block;
}
#nav{
    display: inline;
    top: 0;
    
}


/* regole specifiche per nav destro */

#right_nav{
    float: right;
}
#left_nav{
    float:left;
}
/* regole specifiche per nav destro */

/*regole per link all'interno di liste*/
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
 li{
    display: inline;
    float: left;
}
 li  a{
    display: block;
    padding: 8px;
}

 li a:hover {
    text-decoration: underline;
  }

  /*regole per link all'interno di liste*/


  /* regole modal di ricerca*/
 #searchbar{
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 20%;
    width: auto;
 }

 #input_search{
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    height: 100%;
    font-size: 16px;
}
  svg{
    margin: 12px 10px 5px 10px; 
    height: 24px;
    width:24px;
  }
    /* regole modal di ricerca*/

    /* regole immagine*/
 
img{
    display: block;
    width: auto;
    padding-top: 15%;
    margin-left: auto;
    margin-right: auto;

}


    /* regole immagine*/